@font-face {
    font-family: "geometric-light";
    src: url("../assets/fonts/urw-geometric/URWGeometricLight.otf");
}

:root {
    --cor-fundo: #fefefe;
    --cor-fonte: #181818;
    --cor-principal: #D95032;
    --cor-icones: #343434e4;
    --cor-text-button: #fff;
    --cor-background-button: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "geometric-light", sans-serif;
}

body {
    min-height: 100dvh;
    min-width: 100dvw;
    background: var(--cor-fundo);
    overflow-x: hidden;
}

/* Cabecalho */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
}

.header div,
nav,
ul {
    display: flex;
}

.logo>img {
    width: 150px;
}

.header-links {
    gap: 40px;
}

.header-links>li {
    font-size: 1.27rem;
    list-style: none;
}

.header-links .navbar-link {
    text-decoration: none;
    color: var(--cor-fonte);
    position: relative;
}

.header-links .navbar-link.active{
    color:var(--cor-principal)
}

.header-links .navbar-link:hover {
    color: var(--cor-principal);
}

.header-links>li,
.header-icons>i {
    cursor: pointer;
}

.header-icons {
    color: var(--cor-icones);
    font-weight: lighter;
    font-size: 22px;
    gap: 20px;
    transition: all linear 0.4s;
}

.header-icons>i:hover {
    transform: scale(1.07);
    color: var(--cor-fonte);
}

/* fim do cabecalho */

section {
    padding: 15px 85px;
}

.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-container-main {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title-main {
    font-size: 4rem;
    color: var(--cor-fonte);
    font-weight: 400;
}

.special-mark {
    color: #000;
    font-weight: bolder;
}

.special-mark-color {
    color: #D95032;
}

.text {
    font-size: 1.4rem;
    color: var(--cor-fonte);
    line-height: 35px;
}

.button {
    font-size: 1.2rem;
    font-weight: 100;
    color: #fff;
    background-color: var(--cor-background-button);
    padding: 8px 30px;
    border: 0;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 2px 2px 10px 1px #00000039;
    transition: transform ease-in-out .4s;
}

.button:hover {
    transform: scale(1.1);
}

.container-img {
    position: relative;
}

.img-main {
    width: 630px;
    filter: drop-shadow(2px 12px 10px rgba(0, 0, 0, 0.219));
}

.circle-effect {
    position: absolute;
    bottom: -15%;
    right: -40%;
    height: 80%;
    width: 100%;
    background-color: var(--cor-principal);
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    z-index: -10;
}

.cards-container {
    display: flex;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 15px 25px;
    border-radius: 35px;
    box-shadow: 1px 1px 10px #00000012;
    transition: transform ease .4s;
}

.card:hover {
    transform: scale(1.08);
}

.card.green {
    background: #DDF2BD;
}

.card.rose {
    background: #FDE1EE;
}

.card.pink {
    background: #FEE6CC;
}

.card.yellow {
    background: #FAFDCE;
}

.img-card {
    width: 135px;
    margin: 10px 0;
}